<div class= "well" style="text-align:justify,text-decoration: underline">
  <div class="cntainer">
    Child entered for UID 1 : <b>{{id1}}</b><br/>
    Value for 'isNew' attribute: <b>{{flag1}}</b><br />
    <a href="/load1">Update the 'isNew' boolean attribute using child_added listener to 'false'</a>
  </div>
</div>
<div class= "well" style="text-align:justify,text-decoration: underline">
  <div class="cntainer">
    Child entered for UID 2 : <b>{{id2}}</b><br/>
    Value for 'isNew' attribute: <b>{{flag2}}</b><br />
    <!--a href="/load2">Update the 'isNew' boolean attribute using child_added listener</a-->
  </div>
</div>
